<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  -->
    <style>
        .outlined{
            outline: 2px solid black;
        }
    </style>

    <title>Random Word Generator</title>
</head>
<body>
    <header class="jumbotron jumbotron-fluid text-center">
        <h2>Random Word Generator Project</h2>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <p>Random word attempt: ({{ counter }})</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center outlined">
                <h3>{{ random_string }}</h3>
            </div>
            <div class="col-sm-4 text-center"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form>
                    <button class="btn btn-primary" onclick="window.location.href = 'https://localhost:8000/;'">Generate</button>
                    <button class="btn btn-primary" onclick="window.location.href='https://localhost:8000/clear_counter;'">Clear 
                    </button>
                </form>
            </div>
            <div class="col-sm-4 text-center"></div>
        </div>
    </main>
</body>
</html>

